<h1>Listing posts</h1>

<!--<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
-->
  <tbody>
    <% @posts.each do |post| %>
 <!--     <tr> -->
        <h2><%= post.title %></h2>
        <small>By <%= post.author %></small>
        <%= simple_format(post.text) %>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<!--      </tr>-->
      <hr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
