<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<h3>Comments</h3>
<%= render @post.comments %>
<%= render "comments/form" %>  

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
